#outer_div {
    width: 500px;
    overflow: auto;
    min-height: 100vh;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 30px;
}

#main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: white;
    width: 150px;
    height: 40px;
    font: 20px bold;
    border: none;
    background-color: blue;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
}

input {
    /* height: 40px; */
    border-radius: 20px;
    border: none;
    margin-right: 20px;
    padding: 10px;
}

input:focus {
    outline: none;
}

ul>li {
    font-size: larger;
}

li {
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 0;
    text-overflow: auto;
    align-items: center;
}

#FontAwesomeIcon:hover {
    cursor: pointer;
    margin: 0;
}

#span {
    width: 350px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.popUp {
    width: 400px;
    height: 300px;
    background-color: aqua;
    border-radius: 20px;
    position: absolute;
    margin-left: 50px;
    margin-top: 20vh;
}

.innerDiv {
    display: flex;
    height: 100%;
}
.innerDiv>form{
    /* align-items: center; */
    margin: auto;
    margin-top: 60px;
}
.innerDiv>form>button{

    margin-left: 15px;
    margin-top: 20px;
}
.faCross{
    margin-left: 90%;
    margin-top: 20px;
    font-size: larger;
}